# Виртуальные окружения
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Распределения Python
*.egg-info/
*.egg

# pip
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db